:root {
  --primary-color: rgb(16, 154, 62);
  --secondary-color: rgb(234, 250, 227);
  --accent-color: rgb(249, 182, 57);
}
/* 
font-family: 'Bangers', cursive;
font-family: 'Exo', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Shalimar', cursive;
font-family: 'Ubuntu', sans-serif; 
*/

.container-fluid {
  margin-top: 90px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  color: var(--primary-color) !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.bg-dark {
  color: var(--primary-color) !important;
}
footer {
  background-color: var(--accent-color);
  height: 60px;
  position: relative;
}
footer > p {
  position: relative;
  bottom: -20px;
  font-family: monospace;
  font-size: 13px;
  font-weight: 500;
}
footer a {
  color: black;
}

/* welcome page */
header {
  display: block;
  margin: 0 auto;
}
img.hi-gif {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
h1 {
  color: var(--primary-color);
  font-size: 46px;
  display: block;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.choices {
  margin-top: 70px;
  margin-bottom: 20px;
}
.choices button {
  background-color: var(--secondary-color);
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 15px;
  padding: 12px 20px;
  margin: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.choices button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.woman-gif {
  max-width: 200px;
  height: 200px;
}

/* poems page */
.poem-title {
  margin-bottom: 20px;
}
.poem-intro {
  margin: 0 auto 20px;
  font-family: "Shalimar", cursive;
}
.col-md-3 {
  margin-bottom: 40px;
}
.poem-img {
  padding: 25px;
  background-color: var(--secondary-color);
  height: 400px;
  border-radius: 5px;
}

/* language material page */
.short-video-description {
  font-size: 20px;
  margin: 20px auto 5px;
}
.language-video {
  margin: 20px;
  width: 75%;
  height: 400px;
}

/* vocabulary page */
.vocab-img {
  margin-top: 40px;
  padding: 25px;
  background-color: var(--secondary-color);
  height: 400px;
  border-radius: 5px;
}

/* contact me page */
.contact-body {
  background-color: rgb(228, 227, 227);
}
.contact-gif {
  width: 150px;
  height: 150px;
  margin-bottom: 0;
}

div.contact-info {
  background-color: white;
  display: block;
  max-width: 380px;

  border-radius: 8px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  padding: 30px 0 40px;
  margin: 20px auto 45px;
}

h3.ways-to-contact {
  color: var(--accent-color);
  font-family: "Shalimar", cursive;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin-top: 20px;
}
a i.icon {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 26px;
}
hr {
  border-top: 2px solid grey;
  border-bottom: none;
  width: 300px;
  margin-top: none;
}

/* contact-form-page */
.message-page {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(228, 227, 227);
}
form {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.message-h2 {
  position: relative;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
  color: var(--primary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

form input:not(.btn) {
  border-radius: 4px;
  height: 40px;
  width: 250px;
  margin-bottom: 10px;
}
form textarea {
  border-radius: 4px;
}
.btn {
  display: block;
  margin: 20px auto;

  padding: 15px 20px;
  width: 350px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: scale(0.98);
}

@media (max-width: 700px) {
  img.hi-gif {
    width: 90px;
    height: 80px;
  }
  h1 {
    font-size: 32px;
    margin-left: 5px;
  }
  .choices button {
    font-size: 16px;
    padding: 10px 12px;
  }
  .col-md-3 {
    margin: 10px auto;
  }
  .poem-intro {
    margin: 10px 15px;
  }
  div.contact-info {
    width: 330px;
  }
  .message-page {
    font-size: 14px;
  }
  .btn {
    width: 200px;
    display: inline;
    padding: 10px 15px;
  }
  form input:not(.btn) {
    border-radius: 4px;
    height: 30px;
    width: 190px;
    margin-bottom: 10px;
  }
  form {
    max-width: 330px;
    overflow-x: hidden;
    font-size: 16px;
  }
  textarea {
    height: 10em;
  }
  .language-video {
    margin: 20px;
    width: 75%;
    height: 200px;
  }
}
